
@import url(colours.css);
@import url(variables.css);
@import url(reset.css);

/* Common tags */
body {
	font-family: var(--font-base);
	color: var(--primary-fg);
	background-color: var(--primary-bg);
}

h1 {
	text-align: left;
	font-family: var(--font-heading);
	font-size: var(--font-4xl);
	margin-bottom: var(--spacing-2);
	color: var(--title-fg);
}
h2 {
	text-align: center;
	font-weight: normal;
	font-style: italic;
	color: var(--title-fg);
}
h3 {
	font-family: var(--font-heading);
	font-size: var(--font-xl);
	margin-bottom: var(--spacing-1);
	color: var(--title-fg);
}

menu {
	margin: var(--spacing-4);
	list-style-type: none;
	padding: 0;

	li {
		background-color: var(--menu-bg);
		color: var(--menu-fg);
		padding: var(--spacing-2);
		border-bottom: var(--menu-border);
		cursor: pointer;

		&:last-child {
			border-bottom: 0;
		}

		&:hover {
			color: var(--primary-fg);
			background-color: var(--primary-bg);
		}
	}
}

/* Top information panel */
article {
	padding: var(--spacing-4);
}

/* Bottom panel with active adversaries */
main {
	padding: var(--spacing-4);
	font-family: var(--font-secondary);
}

.container {
	display: grid;
	grid-template-columns: var(--menu-width) 1fr;
	min-height: 100vh;
	gap: var(--spacing-2);
}
