
@import url(colours.css);
@import url(variables.css);
@import url(reset.css);

/* Common tags */
body {
	font-family: var(--font-base);
	color: var(--primary-fg);
	background-color: var(--primary-bg);
}

h1 {
	text-align: left;
	font-family: var(--font-heading);
	font-size: var(--font-4xl);
	margin-bottom: var(--spacing-2);
	color: var(--title-fg);
}
h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: var(--font-md);
	line-height: 1rem;
	margin: 0;
}
h3 {
	text-transform: uppercase;
	font-size: var(--font-md);
	line-height: 1rem;
	color: var(--title-fg);
	margin: 0 0 var(--spacing-2);
}

p {
	margin-bottom: var(--spacing-4);
}

dl {
	margin-bottom: var(--spacing-4);
	font-weight: bold;

	dt {
		color: var(--title-fg);
		line-height: 1rem;
		text-transform: uppercase;
		text-align: center;
	}

	dd {
		font-size: var(--font-2xl);
		text-align: center;
	}
}

details {
	margin-bottom: var(--spacing-2);
}

summary {
	font-weight: bold;
}

table {
	width: 100%;
	margin-bottom: var(--spacing-4);

	th {
		text-transform: uppercase;
		font-size: var(--font-sm);
		line-height: 1rem;
		text-align: right;
		padding: var(--spacing-1);

		&:nth-child(1) {
			text-align: left;
		}
	}

	tbody tr {
		border-bottom: var(--menu-border);

		&:last-child {
			border-bottom: 0;
		}

		td {
			text-align: right;
			padding: var(--spacing-1);
		}

		td:nth-child(1) {
			text-align: left;
		}
	}
}

/* Form fields */
label {
	text-transform: uppercase;
	font-size: var(--font-xs);
	font-family: var(--font-secondary);
	padding: 0 var(--spacing-2);
	display: block;

	span {
		display: block;
		margin-bottom: var(--spacing-1);
	}
}

input {
	border: var(--menu-border);
	padding: var(--spacing-2);
	border-radius: var(--spacing-1);

	&:focus {
		outline-color: var(--title-fg);
	}
}

input[type=search] {
	display: block;
	width: 100%;
}

button {
	padding: var(--spacing-1) var(--spacing-2);
	background-color: var(--button-bg);
	color: var(--button-fg);
	border: var(--button-border);
	border-radius: var(--spacing-1);
	text-transform: uppercase;
	font-family: var(--font-secondary);
	font-weight: bold;

	&:hover {
		background-color: var(--button-hover-bg);
		color: var(--button-hover-fg);
		border: var(--button-hover-border);
	}
}

/* Left hand menu bar */
.menu {
	margin: var(--spacing-4);
	padding: var(--spacing-2) 0 0 0;
	background-color: var(--menu-bg);

	menu {
		list-style-type: none;
		margin-top: var(--spacing-2);
	}

	li {
		color: var(--menu-fg);
		padding: var(--spacing-2);
		border-bottom: var(--menu-border);
		cursor: pointer;

		&:last-child {
			border-bottom: 0;
		}

		&:hover {
			color: var(--title-fg);
			background-color: var(--primary-bg);
		}
	}
}

/* Top information panel */
article {
	padding: var(--spacing-4);
}

/* Bottom panel with active adversaries */
main {
	padding: var(--spacing-4);
	font-family: var(--font-secondary);
}

/* Frame for the whole site */
.container {
	display: grid;
	grid-template-columns: var(--menu-width) 1fr;
	min-height: 100vh;
	gap: var(--spacing-2);
}

/* Generic grid classes */
.grid {
	display: grid;
	gap: var(--spacing-4);
}

.grid-cols-2 {
	grid-template-columns: repeat(2, 1fr);
}
.grid-cols-3 {
	grid-template-columns: repeat(3, 1fr);
}
.grid-cols-5 {
	grid-template-columns: repeat(5, 1fr);
}

/* Card background */
.card {
	background-color: var(--secondary-bg);
	color: var(--secondary-fg);
	padding: var(--spacing-4);
	font-family: var(--font-secondary);
	margin-bottom: var(--spacing-4);
}

.btn-add {
	margin-top: var(--spacing-8);

	button {
		display: block;
		width: 100%;
	}
}

.chip {
	font-family: var(--font-secondary);
	font-size: var(--font-sm);
	background-color: var(--title-fg);
	color: var(--secondary-bg);
	padding: var(--spacing-1) var(--spacing-2);
	display: inline-block;
	margin-right: var(--spacing-1);
	border-radius: var(--spacing-4);
}

/* Linkify */
.link {
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

/* Adversary component */
.adversary {
	display: flex;

	label {
		font-size: var(--font-md);
		font-weight: bold;
		color: var(--title-fg);
		line-height: 1rem;
		text-transform: uppercase;
		text-align: center;		
	}

	input[type=number] {
		max-width: 80px;
	}

	.title {
		width: 150px;
	}

	.button {
		display: flex;

		button {
			margin-top: auto;
			flex-grow: 0;
		}
	}

	.grid {
		flex-grow: 1;
	}
}
